/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 80%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 50%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 50%; }

/* Adjustment for mobile devices*/
@media (max-width776px) {
  .carousel {
    height: 50%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }
