<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Accueil</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"	href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet"  href="./css/compiled-4.10.0.min.css">
<link rel="stylesheet"  type="text/css"	href="./css/mdb-plugins-gathered.min.css">
<link rel="stylesheet"  type="text/css"	href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/mdb-plugins-gathered.min.css">

<header th:include="Menu"> </header>

<style>
.navbar {
	z-index: 1040;
}

.side-nav {
	margin-top: 57px !important;
}

.double-nav .breadcrumb-dn p {
	color: #FFF;
}

@media ( min-width500px) {
	.fixed-sn main {
		margin-left: 2% !important;
		margin-right: 2% !important;
		min-width : 450px;
	}
}
</style>
<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}
</style>

<!--/.Double navigation-->

<!--Main Layout-->

<main>


	<!-- Dernières news -->


	<head>

<link rel="stylesheet"
	href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.8.11.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/mdb-plugins-gathered.min.css">

<!-- <style></style> -->

<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}
</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	</head>
	<body aria-busy="true">
		<div class="container my-5">


			<!--Section: Content-->
			<section class="">

				<!-- Section heading -->
				<h3 class="text-center font-weight-bold mb-5">Dernières news</h3>

				<div class="row">

					<!--Grid column-->
					<div class="col-md-4 mb-4">
						<!--Card-->
						<div class="card">

							<!--Card image-->
							<div class="view overlay">
								<img
									src="https://www.comprar.com/wp-content/uploads/2018/06/Xbox-Xcarlett-800x424.jpg"
									class="card-img-top" alt="Xbox Scralett"> <a>
									<div class="mask rgba-white-slight waves-effect waves-light"></div>
								</a>
							</div>
							<!--/.Card image-->

							<!--Card content-->
							<div class="card-body">
								<!--Title-->
								<h4 class="card-title">
									<strong>Qui se cache derrière la conception de la Xbox
										Scarlett ?</strong>
								</h4>
								<hr>
								<!--Text-->
								<p class="card-text mb-3">On en entend parler depuis l'E3
									2018, on vous prï¿½sente qq specs de la Xbox Scarlett...</p>
								<p class="font-small font-weight-bold dark-grey-text mb-1">
									<i class="far fa-clock-o"></i> 25/11/2019
								</p>
								<p class="font-small grey-text mb-0">Mr. Xbox</p>
								<p class="text-right mb-0 font-small font-weight-bold">
									<a th:href="@{/afficher_article(id=1)}">En savoir plus...<i
										class="fas fa-angle-right"></i></a>
								</p>
							</div>
							<!--/.Card content-->

						</div>
						<!--/.Card-->

					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-md-4 mb-4">

						<!--Card-->
						<div class="card">

							<!--Card image-->
							<div class="view overlay">
								<img
									src="https://gamewave.fr/static/images/news/headers/fa17a-bannpokesword.jpg"
									class="card-img-top" alt="photo pokémon"> <a>
									<div class="mask rgba-white-slight waves-effect waves-light"></div>
								</a>
							</div>
							<!--/.Card image-->

							<!--Card content-->
							<div class="card-body">
								<!--Title-->
								<h4 class="card-title">
									<strong>Pokémon Epée/Bouclier</strong>
								</h4>
								<hr>
								<!--Text-->
								<p class="card-text mb-3">Une maintenance des serveurs est
									prévue demain matin.</p>
								<p class="font-small font-weight-bold dark-grey-text mb-1">
									<i class="far fa-clock-o"></i> 23/11/2019
								</p>
								<p class="font-small grey-text mb-0">Leo</p>
								<p class="text-right mb-0 font-small font-weight-bold">
									<a>En savoir plus...<i class="fas fa-angle-right"></i></a>
								</p>
							</div>
							<!--/.Card content-->

						</div>
						<!--/.Card-->
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-md-4 mb-4">

						<!--Card-->
						<div class="card">

							<!--Card image-->
							<div class="view overlay">
								<img
									src="http://image.jeuxvideo.com/medias-md/157415/1574152605-5969-card.jpg"
									class="card-img-top" alt="SW jedi fallen order"> <a>
									<div class="mask rgba-white-slight waves-effect waves-light"></div>
								</a>
							</div>
							<!--/.Card image-->

							<!--Card content-->
							<div class="card-body">
								<!--Title-->
								<h4 class="card-title">
									<strong>Star Wars Jedi : Fallen Order</strong>
								</h4>
								<hr>
								<!--Text-->
								<p class="card-text mb-3">Un patch pour les ralentissements
									et temps de chargement.</p>
								<p class="font-small font-weight-bold dark-grey-text mb-1">
									<i class="far fa-clock-o"></i> 30/10/2019
								</p>
								<p class="font-small grey-text mb-0">JediMaster135</p>
								<p class="text-right mb-0 font-small font-weight-bold">
									<a>En savoir plus...<i class="fas fa-angle-right"></i></a>
								</p>
							</div>
							<!--/.Card content-->

						</div>
						<!--/.Card-->
					</div>
					<!--Grid column-->

				</div>

				<div class="text-center mt-4 mb-5">
					<a class="black-text font-weight-bold" href="#!">Browse all
						articles <i class="fa fa-angle-right"></i>
					</a>
				</div>

			</section>
			<!--Section: Content-->


		</div>


</main>
<!--Main Layout-->
<script type="text/javascript"
	src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>
<script type="text/javascript">
	// SideNav Button Initialization
	$(".button-collapse").sideNav({
		breakpoint : 1200
	});
	// SideNav Scrollbar Initialization
	var sideNavScrollbar = document.querySelector('.custom-scrollbar');
	Ps.initialize(sideNavScrollbar);
</script>
<script type="text/javascript" th:if="${messageErr!=null}">
	$("#navbarDropdownMenuLink").click();
</script>


<div class="drag-target" style="left: 0px;"></div>
</body>
</html>