<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Afficher articles</title>
<link rel="stylesheet" href="./css/all.css" />
<link rel="stylesheet" type="text/css"	href="./css/compiled-4.10.0.min.css" />
<link rel="canonical"	href="https://mdbootstrap.com/plugins/jquery/wysiwyg/" />
</head>

<body>
	<!-- Menu -->
	<!-- class="hidden-sn mdb-skin" aria-busy="true" -->
	<header th:include="Menu2"></header>
	<!-- Menu -->

	<!--Main Layout-->

	<main class="container">
		<div class="table-responsive text-nowrap">
			<br /> <br /> <br /> <br />
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">prenom</th>
						<th scope="col">nom</th>
						<th scope="col">email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" utilisateurs : ${utiIhm}">
						<th scope="row" th:text="${utilisateurs.id}"></th>
						<th scope="row" th:text="${utilisateurs.prenom}"></th>
						<th scope="row" th:text="${utilisateurs.nom}"></th>
						<th scope="row" th:text="${utilisateurs.email}"></th>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<!--Main Layout-->
	<script src="./js/compiled-4.9.0.min.js"></script>
</body>
</html>
