<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Afficher articles</title>
<link rel="stylesheet" href="./css/all.css" />
<link rel="stylesheet" type="text/css" href="./css/compiled-4.10.0.min.css" />
<link rel="canonical"  href="https://mdbootstrap.com/plugins/jquery/wysiwyg/" />
</head>

<body>
	<!-- Menu -->
	<!-- class="hidden-sn mdb-skin" aria-busy="true" -->
	<header th:include="Menu2"></header>
	<!-- Menu -->

	<!--Main Layout-->
	
	<main class="container">
		<div class="table-responsive text-nowrap">
			<br /> <br /> <br /> <br />
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Titre</th>
						<th scope="col">Url</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" article : ${articlesIhm}">
						<th scope="row" th:text="${article.id}"></th>
						<th scope="row" th:text="${article.titre}"></th>
						<td><a th:href="@{/afficher_article(id=${article.id})}">Ici</a></td>

					</tr>

				</tbody>
			</table>

		</div>


<div class="row">

				<!--Grid column-->
				<div class="col-md-4 mb-4">
					<!--Card-->
					<div class="card">

						<!--Card image-->
						<div class="view overlay">
							<img
								src="URL de l'image en BDD à ajouter"
								class="card-img-top" alt="img de l'article"> <a>
								<div class="mask rgba-white-slight waves-effect waves-light"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-body">
							<!--Title-->
							<h4 class="card-title">
								<strong>Titre de l'article à récupérer</strong>
							</h4>
							<hr>
							<!--Text-->
							<p class="card-text mb-3">Contenu de l'article à récupérer</p>
							<p class="font-small font-weight-bold dark-grey-text mb-1">
								<i class="far fa-clock-o"></i> Date du post 25/11/2019
							</p>
							<p class="font-small grey-text mb-0">Login de l'utilisateur qui a posté</p>
							<p class="text-right mb-0 font-small font-weight-bold">
								<a th:href="@{/afficher_article(id=1)}">En savoir plus...<i
									class="fas fa-angle-right"></i></a>
							</p>
						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->

				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-md-4 mb-4">

					<!--Card-->
					<div class="card">

						<!--Card image-->
						<div class="view overlay">
							<img
								src="https://gamewave.fr/static/images/news/headers/fa17a-bannpokesword.jpg"
								class="card-img-top" alt="photo pokémon"> <a>
								<div class="mask rgba-white-slight waves-effect waves-light"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-body">
							<!--Title-->
							<h4 class="card-title">
								<strong>Pokémon Epée/Bouclier</strong>
							</h4>
							<hr>
							<!--Text-->
							<p class="card-text mb-3">Une maintenance des serveurs est
								prévue demain matin.</p>
							<p class="font-small font-weight-bold dark-grey-text mb-1">
								<i class="far fa-clock-o"></i> 23/11/2019
							</p>
							<p class="font-small grey-text mb-0">Leo</p>
							<p class="text-right mb-0 font-small font-weight-bold">
								<a>En savoir plus...<i class="fas fa-angle-right"></i></a>
							</p>
						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-md-4 mb-4">

					<!--Card-->
					<div class="card">

						<!--Card image-->
						<div class="view overlay">
							<img
								src="http://image.jeuxvideo.com/medias-md/157415/1574152605-5969-card.jpg"
								class="card-img-top" alt="SW jedi fallen order"> <a>
								<div class="mask rgba-white-slight waves-effect waves-light"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-body">
							<!--Title-->
							<h4 class="card-title">
								<strong>Star Wars Jedi : Fallen Order</strong>
							</h4>
							<hr>
							<!--Text-->
							<p class="card-text mb-3">Un patch pour les ralentissements
								et temps de chargement.</p>
							<p class="font-small font-weight-bold dark-grey-text mb-1">
								<i class="far fa-clock-o"></i> 30/10/2019
							</p>
							<p class="font-small grey-text mb-0">JediMaster135</p>
							<p class="text-right mb-0 font-small font-weight-bold">
								<a>En savoir plus...<i class="fas fa-angle-right"></i></a>
							</p>
						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<!--Grid column-->

			</div>


	</main>
	<!--Main Layout-->
	<script src="./js/compiled-4.9.0.min.js"></script>
</body>
</html>
