<header th:include="Menu2">
</header>
<style type="text/css">/* Chart.js */


/* @ */
/* -webkit-keyframes chartjs-render-animation { */
/* 	from {opacity: 0.99 */
/* } */

/* to { */
/* 	opacity: 1 */
/* } */

/* } */
/* @ */
/* keyframes chartjs-render-animation { */
/* 	from {opacity: 0.99 */
/* } */

/* to { */
/* 	opacity: 1 */
/* } */

/* } */
/* .chartjs-render-monitor { */
/* 	-webkit-animation: chartjs-render-animation 0.001s; */
/* 	animation: chartjs-render-animation 0.001s; */
/* } */
<!-- </style> -->
<!-- </head> -->
<!-- <body class="fixed-sn light-blue-skin" aria-busy="true"> -->

<!-- 	<!--Double navigation--> -->
<!-- 	<header> -->
<!-- 		<!-- Sidebar navigation --> -->
<!-- 		<div id="slide-out" class="side-nav sn-bg-4 fixed" -->
<!-- 			style="width: 240px; transform: translateX(-100%);"> -->
<!-- 			<ul class="custom-scrollbar"> -->
<!-- 				Logo -->
<!-- 				<li> -->
<!-- 					<div class="logo-wrapper waves-light waves-effect waves-light"> -->
<!-- 						<a href="#"><img -->
<!-- 							src="https://i2.wp.com/rpgpriest.blogs.du-coin.fr/wp-content/uploads/sites/12/2015/08/game-video.png?fit=256%2C256&ssl=1" -->
<!-- 							class="img-fluid flex-center"></a> -->
<!-- 					</div> -->
<!-- 				</li> -->
<!-- 				/. Logo -->
<!-- 				Social -->
<!-- 				<li> -->
<!-- 					<ul class="social"> -->
<!-- 						<li><a href="#" class="icons-sm fb-ic"><i -->
<!-- 								class="fab fa-facebook"> </i></a></li> -->
<!-- 						<li><a href="#" class="icons-sm pin-ic"><i -->
<!-- 								class="fab fa-pinterest"> </i></a></li> -->
<!-- 						<li><a href="#" class="icons-sm gplus-ic"><i -->
<!-- 								class="fab fa-google-plus"> </i></a></li> -->
<!-- 						<li><a href="#" class="icons-sm tw-ic"><i -->
<!-- 								class="fab fa-twitter"> </i></a></li> -->
<!-- 					</ul> -->
<!-- 				</li> -->
<!-- 				/Social -->
<!-- 				Search Form -->
<!-- 				<li> -->
<!-- 					<form class="search-form" role="search"> -->
<!-- 						<div -->
<!-- 							class="form-group md-form mt-0 pt-1 waves-light waves-effect waves-light"> -->
<!-- 							<input type="text" class="form-control" placeholder="Recherche"> -->
<!-- 						</div> -->
<!-- 					</form> -->
<!-- 				</li> -->
<!-- 				/.Search Form -->
<!-- 				Side navigation links -->
<!-- 				<li> -->
<!-- 					<ul class="collapsible collapsible-accordion"> -->
<!-- 						<li class=""><a -->
<!-- 							class="collapsible-header waves-effect arrow-r"><i -->
<!-- 								class="fas fa-chevron-right"></i>Accueil<i -->
<!-- 								class="fas fa-angle-down rotate-icon"></i></a> -->
<!-- 							<div class="collapsible-body" style="display: none;"> -->
<!-- 								<ul> -->
<!-- 									<li><a href="#" class="waves-effect">Formulaire</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Derniere news</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Top jeux</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Jeu au hasard</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Jeux les plus -->
<!-- 											attendu</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Sondage</a></li> -->
<!-- 								</ul> -->
<!-- 							</div></li> -->
<!-- 						<li class=""><a -->
<!-- 							class="collapsible-header waves-effect arrow-r"><i -->
<!-- 								class="far fa-hand-pointer"></i> Convention<i -->
<!-- 								class="fas fa-angle-down rotate-icon"></i></a> -->
<!-- 							<div class="collapsible-body" style="display: none;"> -->
<!-- 								<ul> -->
<!-- 									<li><a href="#" class="waves-effect">Planning</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">prix billet -->
<!-- 											convention</a></li> -->
<!-- 								</ul> -->
<!-- 							</div></li> -->
<!-- 						<li class=""><a -->
<!-- 							class="collapsible-header waves-effect arrow-r"><i -->
<!-- 								class="far fa-eye"></i>Echange entre joueurs<i -->
<!-- 								class="fas fa-angle-down rotate-icon"></i></a> -->
<!-- 							<div class="collapsible-body" style="display: none;"> -->
<!-- 								<ul> -->
<!-- 									<li><a href="#" class="waves-effect">BLog</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Mini Chat</a></li> -->
<!-- 								</ul> -->
<!-- 							</div></li> -->
<!-- 						<li class=""><a -->
<!-- 							class="collapsible-header waves-effect arrow-r"><i -->
<!-- 								class="far fa-envelope"></i>FAQ<i -->
<!-- 								class="fas fa-angle-down rotate-icon"></i></a> -->
<!-- 							<div class="collapsible-body" style="display: none;"> -->
<!-- 								<ul> -->
<!-- 									<li><a href="#" class="waves-effect">Presentation</a></li> -->
<!-- 									<li><a href="#" class="waves-effect">Question</a></li></li> -->
<!-- 					</ul> -->
<!-- 		</div> -->
<!-- 		</li> -->
<!-- 		</ul> -->
<!-- 		</li> -->
<!-- 		<!--/. Side navigation links --> -->
<!-- 		</ul> -->
<!-- 		<div class="sidenav-bg mask-strong"></div> -->
<!-- 		</div> -->
<!-- 		<!--/. Sidebar navigation --> -->
<!-- 		<!-- Navbar --> -->
<!-- 		<nav -->
<!-- 			class="navbar fixed-top navbar-toggleable-md navbar-expand-lg double-nav"> -->
<!-- 			<!-- SideNav slide-out button --> -->
<!-- 			<div class="float-left"> -->
<!-- 				<a href="#" data-activates="slide-out" class="button-collapse"><i -->
<!-- 					class="fa fa-bars"></i></a> -->
<!-- 			</div> -->
<!-- 			<!-- Breadcrumb--> -->
<!-- 			<div class="breadcrumb-dn mr-auto"> -->
<!-- 				<p>PROJET DE SITE PAR MATHIEU, CORENTIN ET BENJAMIN</p> -->
<!-- 			</div> -->
<!-- 			<ul class="nav navbar-nav nav-flex-icons ml-auto"> -->
<!-- 				<li class="nav-item"><a -->
<!-- 					class="nav-link waves-effect waves-light"><i -->
<!-- 						class="fa fa-envelope"></i> <span -->
<!-- 						class="clearfix d-none d-sm-inline-block">Contactez-nous</span></a></li> -->

<!-- 				<li class="nav-item dropdown"><a -->
<!-- 					class="nav-link dropdown-toggle waves-effect waves-light" href="#" -->
<!-- 					id="navbarDropdownMenuLink" data-toggle="dropdown" -->
<!-- 					aria-haspopup="true" aria-expanded="false"> Log In </a> -->
<!-- 					<div class="dropdown-menu dropdown-menu-right" -->
<!-- 						aria-labelledby="navbarDropdownMenuLink"> -->
<!-- 						<a class="dropdown-item waves-effect waves-light" href="/accueil">Connexion</a> -->
<!-- 						<a class="dropdown-item waves-effect waves-light" -->
<!-- 							href="/inscription">Inscription</a> -->

<!-- 					</div></li> -->
<!-- 			</ul> -->
<!-- 		</nav> -->
<!-- 		<!-- /.Navbar --> -->
<!-- 	</header> -->
<!-- 	<!--/.Double navigation--> -->

	<!--Main Layout-->
	<main>
		<div class="container-fluid mt-5">


			<div class="card">

				<h5 class="card-header info-color white-text text-center py-4">
					<strong>Sign in</strong>
				</h5>

				<!--Card content-->
				<div class="card-body px-lg-5 pt-0">

					<!-- Form -->
					<form class="text-center" style="color: #757575;" action="#!">

						<div class="md-form">
							<input type="firstname" id="materialLoginFormFirstName"
								class="form-control"> <label
								for="materialLoginFormFirstName">FirstName</label>
						</div>

						<div class="md-form">
							<input type="name" id="materialLoginFormName"
								class="form-control"> <label for="materialLoginFormName">Name</label>
						</div>

						<!-- Email -->
						<div class="md-form">
							<input type="email" id="materialLoginFormEmail"
								class="form-control"> <label
								for="materialLoginFormEmail">E-mail</label>
						</div>

						<!-- Password -->
						<div class="md-form">
							<input type="password" id="materialLoginFormPassword"
								class="form-control"> <label
								for="materialLoginFormPassword">Password</label>
						</div>

						<div class="md-form">
							<input type="ConfirmPassword"
								id="materialLoginFormConfirmPassword" class="form-control">
							<label for="materialLoginFormConfirmPassword">ConfirmPassword</label>
						</div>

						<div class="d-flex justify-content-around">
							<div>
								<!-- Remember me -->

							</div>
							<div>

								<!-- Sign in button -->
								<button
									class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
									type="submit">Sign in</button>

								<!-- Register -->
								<p>
									Not a member? <a href="">Register</a>
								</p>

								<!-- Social login -->
								<p>or sign in with:</p>
								<a type="button"
									class="btn-floating btn-fb btn-sm waves-effect waves-light">
									<i class="fab fa-facebook-f"></i>
								</a> <a type="button"
									class="btn-floating btn-tw btn-sm waves-effect waves-light">
									<i class="fab fa-twitter"></i>
								</a> <a type="button"
									class="btn-floating btn-li btn-sm waves-effect waves-light">
									<i class="fab fa-linkedin-in"></i>
								</a> <a type="button"
									class="btn-floating btn-git btn-sm waves-effect waves-light">
									<i class="fab fa-github"></i>
								</a>
					</form>
					<!-- Form -->

				</div>
			</div>
		</div>
		<!--Main Layout-->
		<!--Main Layout-->

	</main>
	<!--Main Layout-->

<!-- 	<script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.9.0.min.js"></script> -->
<!-- 	<div class="hiddendiv common"></div> -->
<!-- 	<script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script> -->
	<script type="text/javascript">
		// SideNav Button Initialization
		$(".button-collapse").sideNav({
			breakpoint : 1200
		});
		// SideNav Scrollbar Initialization
		var sideNavScrollbar = document.querySelector('.custom-scrollbar');
		Ps.initialize(sideNavScrollbar);
	</script>
	<script type="text/javascript" th:if="${messageErr!=null}">
		$("#navbarDropdownMenuLink").click();
	</script>


	<!-- 	<div class="drag-target" style="left: 0px;"></div> -->
</body>
</html>